# CSI3007 -- REGNO: 22MID0132 -- LAB_NO:7 -- 05/08/2025

In [ ]:
# simple function in pyhton

In [2]:
def double(x):
    return x*2
double(5)

10

In [3]:
def add(x,y):
    return(x+y)
add(10,30)

40

In [4]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y
mx(7,4)

7

In [5]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y
mx(4,8)

8

In [6]:
# lambda functions in python

In [7]:
lambda x:x*2

In [8]:
# lambda function call
res=(lambda x,y: x+y)(3,4)
print(res)

7

In [9]:
# simple loop traversal in a list
ml=[1,2,3,4,5] 
for i in ml:
    print(i)

1
2
3
4
5

In [10]:
n= 12345
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [11]:
n= '12345' # otherwise str(n) can be used
for i in n:
    print(i)

1
2
3
4
5

In [12]:
c=456789
digits=[ int(d) for d in str(c)]
print(digits)

[4, 5, 6, 7, 8, 9]

In [13]:
for digit in digits:
    print(digit)

4
5
6
7
8
9

In [14]:
print(dir(ml)) # will give all the function that can be performed over this

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# if we get iter then it is an iterable element.

In [15]:
names=['ema','tom','hinton']
l=names.__iter__() # also can be written as -- iter(names)

In [16]:
type(names)

list

In [17]:
type(l)

list_iterator

In [18]:
names=['ema','tom','hinton']
lp=iter(names)
print(next(lp))

ema

In [19]:
print(next(lp)) # it remembers where it was last time.

tom

In [20]:
print(next(lp))

hinton

In [21]:
print(next(lp))

StopIteration:

In [22]:
looper=iter(names)
while True:
    try:
        name=next(names)
        print(name)
    except StopIteration:
        break

TypeError: 'list' object is not an iterator

In [23]:
looper=iter(names)
while True:
    try:
        name=next(looper)
        print(name)
    except StopIteration:
        break

ema
tom
hinton

In [24]:
def square(x):
    return x*x
n=[1,2,3,4,5]
print(map(square,n))

<map object at 0x703a841ac0a0>

In [25]:
def square(x):
    return x*x
n=[1,2,3,4,5]
print(list(map(square,n)))

[1, 4, 9, 16, 25]

In [26]:
a=lambda x:x*x
n=[1,2,3,4,5]
print(list(map(a,n)))
# it iterates elements one by one.

[1, 4, 9, 16, 25]

In [27]:
#other way to write
n=[1,2,3,4,5]
print(list(map(lambda x:x*x,n)))

[1, 4, 9, 16, 25]

In [28]:
# a specific condition is given.
print(list(filter(lambda x:x>3,n))) 
# whatever the condtion is met only that elements is printed

[4, 5]

In [29]:
names=['DHARSHINI','AGNES','VARSHITHA']
lower=lambda x:x.lower()
for n in names:
    print(list(map(lower,n)))

['d', 'h', 'a', 'r', 's', 'h', 'i', 'n', 'i']
['a', 'g', 'n', 'e', 's']
['v', 'a', 'r', 's', 'h', 'i', 't', 'h', 'a']

In [1]:
names=['Sushank','N','SN']
lower=lambda x:x.lower()
print(list(map(lower,names)))

['sushank', 'n', 'sn']

In [31]:
num=[1,2,3,4,5]
from functools import reduce
print(reduce(lambda x,y: x+y,num)) # cummulative effect is happening becauce of reduce function
# it takes one element and adds it with the existing element.

15